@model MoneyTransformer.Models.Home

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image3path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image3path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logopath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logopath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image4path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image4path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facebooklink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facebooklink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagramlink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagramlink)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
