@model IEnumerable<MoneyTransformer.Models.Home>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image1path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image2path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image3path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logopath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image4path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebooklink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagramlink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image1path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image2path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image3path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logopath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image4path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebooklink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagramlink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
